@font-face {
	font-family: "Limkin";
	src: url("https://toomuchtype.com/fonts/limkin/variable/TMT-LimkinVF.ttf") format(truetype),
		 url("https://toomuchtype.com/fonts/limkin/variable/TMT-LimkinVF.woff") format(woff),
		 url("https://toomuchtype.com/fonts/limkin/variable/TMT-LimkinVF.woff2") format(woff2);
	font-weight: 100 900;
}
:root {
	--base-hue: 0deg;
	--primary: hsl(var(--base-hue), 100%, 60%);
	--primary-alt: hsl(var(--base-hue), 100%, 40%);
	--primary-1: hsl(calc(var(--base-hue) + 10deg), 100%, 60%);
	--primary-1-alt: hsl(calc(var(--base-hue) + 10deg), 100%, 40%);
	--primary-2: hsl(calc(var(--base-hue) + 20deg), 100%, 60%);
	--primary-2-alt: hsl(calc(var(--base-hue) + 20deg), 100%, 40%);
	--primary-3: hsl(calc(var(--base-hue) + 30deg), 100%, 60%);
	--primary-3-alt: hsl(calc(var(--base-hue) + 30deg), 100%, 40%);
	--secondary: hsl(calc(var(--base-hue) - 80deg), 100%, 80%);
	--secondary-alt: hsl(calc(var(--base-hue) - 80deg), 100%, 60%);
	--tertiary: hsl(calc(var(--base-hue) - 160deg), 100%, 80%);
	--tertiary-alt: hsl(calc(var(--base-hue) - 160deg), 100%, 60%);
	--tertiary-1: hsl(calc(var(--base-hue) - 210deg), 100%, 80%);
	--tertiary-1-alt: hsl(calc(var(--base-hue) - 210deg), 100%, 60%);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "Limkin", sans-serif;
	font-variation-settings: "wght" 700, "SRFF" 0;
	font-weight: 700;
	background: linear-gradient(to top left, var(--primary-alt) 0%, var(--primary) 100%);
}

/* Nav */
.nav {
	position: sticky;
	top: 0;
	display: grid;
	grid-template-rows: 25px 25px 25px;
	background: linear-gradient(to top left, black 0%, #333 100%);
	box-shadow: 0 20px 20px rgba(0,0,0,.25);
	z-index: 9;
	outline: .5px solid black;
}
@media only screen and (max-width: 500px) {
	.nav {
		grid-template-rows: 25px 50px 25px;
	}
}

/* Header */
.header {
	display: flex;
	width: 100vw;
	overflow: hidden;
	background: linear-gradient(to top left, var(--secondary-alt) 0%, var(--secondary) 100%);
	box-shadow: 0 10px 10px rgba(0,0,0,.1);
	position: relative;
	z-index: 2;
	outline: .5px solid black;
}
.header-marquee {
	flex-grow: 1;
	white-space: nowrap;
	display: flex;
	overflow: hidden;
	align-items: center;
	color: black;
	text-decoration: none;
	font-variation-settings: "wght" 700, "SRFF" 0;
	font-weight: 700;
	padding-top: .2em;
	outline: .5px solid black;
}
.header-marquee:hover {
	background: linear-gradient(to top left, #ddd 0%, white 100%);
}
.header-marquee:active {
	background: linear-gradient(to top left, black 0%, #333 100%);
	color: white;
}
.header-marquee * {
	font-size: 14px;
	animation: header-marquee linear 5s infinite reverse;
}
@keyframes header-marquee {
	from {
		transform: translateX(0%);
	}
	to {
		transform: translateX(-100%);
	}
}
.header-info {
	flex-shrink: 0;
	font-size: 14px;
	color: black;
	background: linear-gradient(to top left, var(--primary-alt) 0%, var(--primary) 100%);
	padding: .3em .5em .15em .5em;
	font-variation-settings: "wght" 700, "SRFF" 0;
	cursor: pointer;
	font-family: inherit;
	border: unset;
	outline: .5px solid black;
}
.header-info:hover {
	background: linear-gradient(to top left, #ddd 0%, white 100%);
	color: black;
}
.header-info:active {
	background: linear-gradient(to top left, black 0%, #333 100%);
	color: white;
}

/* Controls */
.controls {
	background: linear-gradient(to top left, var(--secondary-alt) 0%, var(--secondary) 50%);
	display: flex;
	box-shadow: 0 10px 10px rgba(0,0,0,.1);
	position: relative;
	z-index: 1;
	width: 100vw;
	overflow: hidden;
	outline: .5px solid black;
}
.controls-divider {
	width: 1px;
	background: linear-gradient(to top left, black 0%, #333 100%);
}
.controls-section {
	display: flex;
	align-items: center;
	overflow: hidden;
	min-width: 200px;
	outline: .5px solid black;
}
.controls-section-label {
	color: var(--secondary);
	background: linear-gradient(to top left, black 0%, #333 100%);
	font-size: 10px;
	text-transform: uppercase;
	line-height: 1em;
	letter-spacing: .1em;
	font-variation-settings: "wght" 700, "SRFF" 0;
	padding: .2em 10px 0 calc(10px + .1em);
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	-webkit-appearance:none;
}
.controls-search {
	background: linear-gradient(to top left, var(--secondary-alt) 0%, var(--secondary) 50%);
	width: 200px;
	height: 100%;
	font-family: inherit;
	font-variation-settings: "wght" 700, "SRFF" 0;
	font-size: 14px;
	padding: .3em .5em .15em .5em;
	border: unset;
	outline: .5px solid black;
}
.controls-search:hover {
	background: linear-gradient(to top left, var(--primary-alt) 0%, var(--primary) 100%);
}
.controls-search:focus {
	outline: unset;
	background: linear-gradient(to top left, var(--primary-alt) 0%, var(--primary) 100%);
}
.controls-search::placeholder {
	color: black;
	opacity: .25;
}
.controls-tags {
	display: flex;
	list-style: none;
	justify-self: start;
	font-size: 14px;
	white-space: nowrap;
	overflow-x: scroll;
	height: 100%;
	outline: .5px solid black;
}
.controls-tags::-webkit-scrollbar {
    display: none;
}
.controls-tags li {
	display: flex;
	align-items: center;
	justify-content: center;
	color: black;
	background: linear-gradient(to top, var(--secondary-alt) 0%, var(--secondary) 50%);
	padding: .3em .5em .15em .5em;
	font-variation-settings: "wght" 700, "SRFF" 0;
	cursor: pointer;
	outline: .5px solid black;
}
.controls-tags li[data-active="1"] {
	background: linear-gradient(to top left, var(--primary-alt) 0%, var(--primary) 100%);
}
.controls-tags li:hover {
	background: linear-gradient(to top left, #ddd 0%, white 100%);
	color: black;
}
.controls-tags li:active {
	background: linear-gradient(to top left, black 0%, #333 100%);
	color: white;
}
@media only screen and (max-width: 500px) {
	.controls {
		display: grid;
		grid-template-rows: 25px 25px;
	}
	.controls-divider {
		display: none;
	}
	.controls-section {
	}
	.controls-section-label {
		width: 80px;
		flex-shrink: 0;
	}
	.controls-search {
		width: 100%;
	}
}

/* Sorting */
.sorting {
	background: linear-gradient(to top left, black 0%, #333 100%);
	display: grid;
	grid-template-columns: 1fr 120px 120px 120px;
	outline: .5px solid black;
}
.sorting-tab {
	border: unset;
	background: linear-gradient(to top left, black 0%, #333 100%);
	color: black;
	font-size: 10px;
	text-transform: uppercase;
	line-height: 1em;
	letter-spacing: .1em;
	font-variation-settings: "wght" 700, "SRFF" 0;
	padding: 5px 10px;
	gap: 10px;
	font-family: inherit;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	fill: black;
	outline: .5px solid black;
}
#sorting-name {
	background: linear-gradient(to top left, var(--primary-alt) 0%, var(--primary) 100%);
}
#sorting-length {
	background: linear-gradient(to top left, var(--primary-1-alt) 0%, var(--primary-1) 100%);
}
#sorting-bpm {
	background: linear-gradient(to top left, var(--primary-2-alt) 0%, var(--primary-2) 100%);
}
#sorting-date {
	background: linear-gradient(to top left, var(--primary-3-alt) 0%, var(--primary-3) 100%);
}
.sorting-tab:hover {
	background: linear-gradient(to top left, #ddd 0%, white 100%) !important;
}
.sorting-tab:active {
	background: linear-gradient(to top left, black 0%, #333 100%) !important;
	color: white;
	fill: white;
}
.sorting-tab svg {
	height: 9px;
	width: 9px;
	flex-shrink: 0;
}
.sorting-tab[data-state="0"] svg {
	display: none;
}
.sorting-tab[data-state="2"] svg {
	transform: rotate(180deg);
}
.sorting-tab span {
	padding-top: .15em;
}
.sorting-label {
	color: var(--secondary);
	background: linear-gradient(to top left, black 0%, #333 100%);
	font-size: 10px;
	text-transform: uppercase;
	line-height: 1em;
	letter-spacing: .1em;
	font-variation-settings: "wght" 700, "SRFF" 0;
	padding: .2em 10px 0 calc(10px + .1em);
	height: 100%;
	display: none;
	align-items: center;
	justify-content: center;
}
@media only screen and (max-width: 800px) {
	.sorting {
		grid-template-columns: 1fr 80px 80px 80px;
	}
	.sorting-tab {
		gap: 5px;
	}
}
@media only screen and (max-width: 500px) {
	.sorting {
		grid-template-columns: 80px 1fr 1fr 1fr 1fr;
	}
	.sorting-label {
		display: flex;
	}
}

/* Music */
.music {
	padding-bottom: 50vh;
	min-height: 100vh;
}
.song {
	color: black;
	font-family: inherit;
	font-variation-settings: "wght" 900, "SRFF" 0;
	font-weight: 900;
	border: unset;
	display: grid;
	grid-template-columns: 1fr 120px 120px 120px;
	width: 100%;
	background: unset;
	cursor: pointer;
	font-size: 24px;
	text-align: left;
	align-items: stretch;
	background: linear-gradient(to top left, var(--primary-alt) 0%, var(--primary) 100%);
	position: relative;
}
.song[data-filter="1"],
.song[data-search="1"] {
	display: none;
}
.song:hover,
.song:hover .song-length,
.song:hover .song-bpm,
.song:hover .song-date {
	background: linear-gradient(to top left, #ddd 0%, white 100%);
}
.song:active,
.song:active .song-length,
.song:active .song-bpm,
.song:active .song-date {
	background: linear-gradient(to top left, black 0%, #333 100%);
	color: white;
}
.song:active .song-info,
.song:active .song-length,
.song:active .song-bpm {
	
}
.song[data-active="1"] .song-tags li {
	color: var(--secondary);
}
.song:hover .song-tags li {
	color: white;
}
.song:active .song-tags li {
	background: linear-gradient(to top left, #ddd 0%, white 100%);
	color: black;
}
.song[data-active="1"],
.song[data-active="1"] .song-info,
.song[data-active="1"] .song-length,
.song[data-active="1"] .song-bpm,
.song[data-active="1"] .song-date {
	background: linear-gradient(to top left, var(--secondary-alt) 0%, var(--secondary) 100%);
}
.song[data-active="1"]:hover,
.song[data-active="1"]:hover .song-info,
.song[data-active="1"]:hover .song-length,
.song[data-active="1"]:hover .song-bpm,
.song[data-active="1"]:hover .song-date {
	background: linear-gradient(to top left, #ddd 0%, white 100%);
}
.song[data-active="1"]:active,
.song[data-active="1"]:active .song-info,
.song[data-active="1"]:active .song-length,
.song[data-active="1"]:active .song-bpm,
.song[data-active="1"]:active .song-date {
	background: linear-gradient(to top left, black 0%, #333 100%);
}
.song[data-active="1"]:active .song-info,
.song[data-active="1"]:active .song-length,
.song[data-active="1"]:active .song-bpm {
	
}
.song-info {
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 5px;
	outline: .5px solid black;
}
.song-name {
	font-size: clamp(24px, 4vw, 72px);
	text-wrap: balance;
	letter-spacing: -0.03em;
	line-height: 1em;
	font-variation-settings: "wght" 900, "SRFF" 0;
}
.song-info-subsection {
	display: flex;
	align-items: baseline;
	gap: 8px 10px;
	flex-wrap: wrap;
}
.song-tags {
	display: flex;
	font-size: 14px;
	list-style: none;
	gap: 5px;
	flex-wrap: wrap;
}
.song-tags li {
	padding: .3em .6em .15em .6em;
	font-variation-settings: "wght" 700, "SRFF" 0;
	outline: .5px solid black;
	color: var(--primary);
	background: linear-gradient(to top left, black 0%, #333 100%);
}
.song-desc {
	font-size: 14px;
	font-variation-settings: "wght" 700, "SRFF" 0;
}
.song-desc a {
	color: inherit;
	text-decoration: .5px underline;
	text-underline-offset: .2em;
}
.song-desc a:hover {
	opacity: .5;
}
.song-desc a:active {
	opacity: .25;
}
.song-length {
	line-height: 1em;
	font-size: 32px;
	background: linear-gradient(to top left, var(--primary-1-alt) 0%, var(--primary-1) 100%);
	padding: calc(10px + .2em) 10px 10px 10px;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	font-variation-settings: "wght" 700, "SRFF" 0;
	outline: .5px solid black;
}
.song-bpm {
	line-height: 1em;
	font-size: 32px;
	background: linear-gradient(to top left, var(--primary-2-alt) 0%, var(--primary-2) 100%);
	padding: calc(10px + .2em) 10px 10px 10px;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	font-variation-settings: "wght" 700, "SRFF" 0;
	outline: .5px solid black;
}
.song-date {
	text-transform: uppercase;
	text-align: center;
	background: linear-gradient(to top left, var(--primary-3-alt) 0%, var(--primary-3) 100%);
	line-height: 1em;
	font-size: 20px;
	letter-spacing: -0.03em;
	padding: calc(10px + .2em) 10px 10px 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-variation-settings: "wght" 700, "SRFF" 0;
	outline: .5px solid black;
}
@media only screen and (max-width: 800px) {
	.song {
		grid-template-columns: 1fr 80px 80px 80px;
	}
	.song-length {
		font-size: 18px;
	}
	.song-bpm {
		font-size: 18px;
	}
	.song-date {
		font-size: 12px;
	}
}
@media only screen and (max-width: 500px) {
	.song {
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 24px;
		scroll-snap-align: start;
		scroll-margin-top: 100px;
	}
	.song-info {
		grid-column: span 3;
		border-right: unset;
	}
	.song:active .song-info,
	.song[data-active="1"]:active .song-info {
		border-right: unset;
		border-bottom: 2px solid white;
	}
	.song-length {
		font-size: 12px;
	}
	.song-bpm {
		font-size: 12px;
	}
	.song-bpm::after {
		content: "BPM";
		padding-left: 3px;
	}
}

/* Player */
.player {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background: linear-gradient(to top left, var(--tertiary-alt) 0%, var(--tertiary) 100%);
	outline: .5px solid black;
}
.player[data-active="0"] {
	cursor: not-allowed;
}
.player[data-active="0"] .player-controls {
	opacity: .25;
	pointer-events: none;
}
.player-song {
	height: 25px;
	background: linear-gradient(to top left, var(--tertiary-1-alt) 0%, var(--tertiary-1) 100%);
	color: black;
	font-size: 10px;
	text-transform: uppercase;
	line-height: 1em;
	letter-spacing: .1em;
	font-variation-settings: "wght" 700, "SRFF" 0;
	display: flex;
	align-items: center;
	overflow: scroll;
	white-space: nowrap;
	box-shadow: 0 10px 10px rgba(0,0,0,.1);
	outline: .5px solid black;
}
.player-song-label {
	background: linear-gradient(to top left, black 0%, #333 100%);
	color: var(--tertiary-1);
	padding: .2em 10px 0 calc(10px + .1em);
	display: flex;
	align-items: center;
	justify-content: center;
	align-self: stretch;
}
.player-song-title {
	padding: .2em 10px 0 calc(10px + .1em);
	align-items: center;
	flex-grow: 1;
	overflow: hidden;
	text-overflow: ellipsis;
}
.player-song-total {
	align-self: stretch;
	padding: .2em 10px 0 calc(10px + .1em);
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(to top left, #ddd 0%, white 100%);
	color: black;
	outline: .5px solid black;
}
.player-controls {
	display: flex;
	overflow: scroll;
}
.player-section {
	display: flex;
	gap: 10px;
	padding: 10px 20px;
	height: 40px;
}
.player-button {
	font-family: inherit;
	line-height: 1em;
	font-variation-settings: "wght" 700, "SRFF" 0;
	border: unset;
	background: unset;
	cursor: pointer;
	color: black;
	fill: black;
	display: flex;
	align-items: center;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 1em;
	justify-content: center;
	text-decoration: none;
}
.player-button svg {
	height: 20px;
	width: 20px;
}
.player-button span {
	padding-top: .2em;
}
.player-button:hover {
	color: var(--primary);
	fill: var(--primary);
}
.player-button:active {
	opacity: .5;
}
#player-playbar {
	flex-grow: 1;
}
.player-time {
	padding-top: .2em;
	font-size: 10px;
	line-height: 1em;
	width: 48px;
	text-align: center;
	background: linear-gradient(to top left, black 0%, #333 100%);
	color: var(--tertiary);
	flex-shrink: 0;
	letter-spacing: .05em;
	display: flex;
	align-items: center;
	justify-content: center;
}
.player-duration {
	padding-top: .2em;
	font-size: 10px;
	line-height: 1em;
	width: 48px;
	text-align: center;
	background: linear-gradient(to top left, black 0%, #333 100%);
	color: var(--tertiary);
	flex-shrink: 0;
	letter-spacing: .05em;
	display: flex;
	align-items: center;
	justify-content: center;
}
.player-playbar {
	width: 100%;
	position: relative;
	cursor: pointer;
	-webkit-appearance: none;
	appearance: none;
	height: 20px;
	border: .5px solid black;
	background: transparent;
	background: linear-gradient(to top right, var(--tertiary-alt) 0%, var(--tertiary) 100%);
	align-self: center;
}
.player-playbar:hover {
	background: linear-gradient(to top left, #ddd 0%, white 100%);
}
.player-playbar::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 19px;
	/* border-radius: 50%; */
	height: 19px;
	outline: .5px solid black;
	background: linear-gradient(to top left, black 0%, #333 100%);
}
.player-playbar::-webkit-slider-thumb:hover {
	background: linear-gradient(to top left, #ddd 0%, white 100%);
}
#player-volume {
	flex-grow: .25;
}
.player-volume {
	width: 100%;
	position: relative;
	cursor: pointer;
	-webkit-appearance: none;
	appearance: none;
	height: 20px;
	border: .5px solid black;
	background: transparent;
	background: linear-gradient(to top right, var(--tertiary-alt) 0%, var(--tertiary) 100%);
	align-self: center;
}
.player-volume:hover {
	background: linear-gradient(to top left, #ddd 0%, white 100%);
}
.player-volume::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 19px;
	/* border-radius: 50%; */
	height: 19px;
	outline: .5px solid black;
	background: linear-gradient(to top left, black 0%, #333 100%);
}
.player-volume::-webkit-slider-thumb:hover {
	background: linear-gradient(to top left, #ddd 0%, white 100%);
}
.player-spacer {
	width: .5px;
	height: 20px;
	align-self: center;
	background: linear-gradient(to top left, black 0%, #333 100%);
	flex-shrink: 0;
}
#player-playpause[data-active="0"] .player-playpause-1 {
	display: none;
}
#player-playpause[data-active="1"] .player-playpause-2 {
	display: none;
}
#player-mute[data-active="0"] .player-mute-1 {
	display: none;
}
#player-mute[data-active="1"] .player-mute-2 {
	display: none;
}
@media only screen and (max-width: 650px) {
	.player-song {
		display: grid;
		grid-template-columns: min-content 1fr;
		grid-template-rows: 25px 25px;
		height: 50px;
		width: 100vw;
		overflow: hidden;
	}
	.player-song-total {
		order: -1;
		width: 100%;
		grid-column: span 2;
		border-left: unset;
	}
	.player-controls {
		display: flex;
		align-items: center;
		padding: 0 10px;
	}
	.player-section {
		padding: 10px;
	}
	.player-spacer {
		display: none;
	}
	.player-time {
		display: none;
	}
	.player-duration {
		display: none;
	}
	#player-volume {
		flex-grow: 1;
		width: 50%;
		display: none;
	}
}

/* Info */
.info-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100dvh;
	z-index: 999;
	backdrop-filter: blur(50px);
	-webkit-backdrop-filter: blur(50px);
	display: flex;
	align-items: safe center;
	justify-content: center;
	padding: 20px;
	transition: opacity .2s;
}
body[data-info="false"] .info-container {
	opacity: 0;
	pointer-events: none;
}
.info-content {
	width: 100%;
	max-width: 400px;
	background: linear-gradient(to top left, var(--primary-alt) 0%, var(--primary) 100%);
	max-height: min(calc(100dvh - 40px), 400px);
	overflow-y: scroll;
	font-size: 14px;
	font-variation-settings: "wght" 500, "SRFF" 0;
	padding: 20px;
	line-height: 1.4em;
	display: flex;
	flex-direction: column;
	gap: 10px;
	text-wrap: pretty;
	outline: .5px solid black;
}
.info-content a {
	color: black;
	text-decoration: .5px underline;
	text-underline-offset: .2em;
}
.info-content a:hover {
	color: white;
}
.info-content a:active {
	opacity: .5;
}
.info-close {
	text-decoration: none;
	text-underline-offset: .2em;
	cursor: pointer;
	padding: .3em .5em .15em .5em;
	display: inline-block;
	outline: .5px solid black;
	background: linear-gradient(to top left, var(--primary-alt) 0%, var(--primary) 100%);
}
.info-close:hover {
	background: linear-gradient(to top left, #ddd 0%, white 100%);
	color: black;
}
.info-close:active {
	background: linear-gradient(to top left, black 0%, #333 100%);
	color: white;
}